$color-light-grey: #eee;
$color-light-grey-2: #ececec;
$color-medium-grey: #999;
$color-dark-grey: #3e3e3e;
$color-gold: #ffbe06;
$color-dark-blue: #11526c;
$color-dull-red: #eb4a4a;
$color-white: #fff;
$color-black: #000;

$transparent-white: rgba(255, 255, 255, .5);
$transparent-gold: rgba(255, 190, 6, .6);

$default-transition: all .3s;

$box-shadow: 0 0 15px -6px $color-dark-grey;

$font-weight-heavy: 900;

$default-browser-font-percentage: 62.5%;
$default-browser-font-size: 16px;
